* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 80%;
}

/* Elements */
/* Header */
header {
    background-color: var(--primary-color);
}

h1 {
    color: var(--accent1-color);
    font-family: 'Raleway', 'Arial', sans-serif;
    text-align: center;

}
h2 {
    color: var(--accent2-color);
    font-family: 'Raleway', 'Arial', sans-serif;
}

p {
    color: var(--primary-color);
    font-family: 'Roboto', 'Arial', sans-serif;
}


/* Class Selectors */
/* Colors */
:root {
    --primary-color: #282852;
    --secondary-color: #B7D5F6;
    --accent1-color: #F02D3A;
    --accent2-color: #127475;
    /* Ref: https://coolors.co/palette/282852-b7d5f6-f02d3a-127475 */
}
/* Navigation */
.sociallinks {
    text-decoration: none;
}